/* google font link  */


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* coomon css style started here  */
.btn-primary{
    padding: 15px 35px;
    background-color: #4E47FF;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}
.text-center{
    text-align: center;
}
main{
    background-color: #a9dfbf ;
}
/* navbar style started here  */
.header{
    background-image: url('../Assets/Hero-bg.png');
     background-repeat: no-repeat;
     max-width: 1440px;
     height: 698px;
     margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: space-between;
    margin: 20px 162px;
    align-items: center;
}
nav ul li {
 list-style: none;
}
nav ul li a{
    text-decoration: none;
}
.list-item{
    font-size: 35px;
    font-weight: bold;
}
.navbar-heading{
   margin: 158pxpx;
   font-size: 65px;
   color: #252432;
   font-weight: bold;
   margin-bottom: 50px;
}
/* action section started here  */
.action-section{
    display: flex;
    max-width: 1140px;
    height: 328px;
    justify-content: space-between; 
    margin: 0 auto;

}
.action-heading{
    font-size: 42px;
    font-weight: bold;
}
.action-img img{
    border-radius: 48px;
}
/* productivity user section start here  */
    .user-count{
        display: flex;
        justify-content:space-around;
    }
    .productivity-section{
     max-width: 1140px;
     margin: 30px auto;
     height: 330px;
     background-color: #D6DDED;
     border-radius: 24px;
     padding: 40px;
}
.user-title{
    font-size: 38px;
    font-weight: bold;
}
.count{
    font-size: 60px;
    margin-left: 70px;
}
.user-description{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}
/* users section review section start here  */

.user-review-section{
    width: 1140px;
    margin: 20px auto;
    height: 342px;
}
.user-name{
    display: flex;
}
.user-name img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}
.user-card{
    /* border: 2px solid salmon; */
    width: 346px;
    height: 230px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
}
.user-container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    background-color: #F2EDED;
}


/* ready-action start here  */
.ready-section{
    max-width: 1140px;
    height: 696px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.big-img{
    border-radius: 48px;
    margin-top: 20px;
    text-align: center;
    margin-left: 150px;
}
/* get touch section started here  */
.newsletter-section{
    max-width: 1440px;
    margin: 0px auto;
    background-color: #D6DDED;
    height: 696px;
    border-radius: 20px;
}
.nesletter-coloumn{
    width: 50%;    
}
.news-heading{
    font-size: 97px;
    font-weight: bold;
}
input[type="text"]{
    height: 34px;
    background-color: white;
    color: #000000;
    border: none;
    width: 90%;
}
button[type="submit"]{
    height: 44px;
    background-color: #4E47FF;
    color: #000000;
    border: none;
    width: 90%;
    text-align: center;
    color: white;
}
.newsletter-row{
    display: flex;
    width: 1140px;
    height: 632px;
    padding: 20px 150px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150;
}
textarea{
    display: block;
    margin: 20px 0px;
    width: 90%;
}

/* footer section started here  */
.footer{
    width: 1440px;
    margin: 0 auto;
    margin: 104px auto;
}
.footer-logo{
    font-size: 80px;
    color: #4E47FF;
    font-weight: bolder;
}
.item-list{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    margin: 10px 65px;
}
.item-list a{
    text-decoration: none;
    color: #8987A1;
}
.footer-section{
    width: 531px;
    height: 231px;
    margin: 0px auto;
}
.footer-paragraph{
    margin-top: -60px;
}